# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Keitaro API
KEITARO_API_URL=https://your-keitaro-instance.com/admin_api/v1
KEITARO_API_KEY=your-api-key-here

# IDs (приоритет перед именами)
DEFAULT_GROUP_ID=4970
# DEFAULT_SOURCE_ID=12345
# DEFAULT_DOMAIN_ID=67890

# Имена (используются, если ID не указаны)
DEFAULT_GROUP_NAME=FORTESTS
DEFAULT_SOURCE_NAME=wVqN1R
DEFAULT_DOMAIN=https://in.posdk.xyz/